--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-multipart
pydub
librosa
soundfile
numpy
demucs
celery
redis
ffmpeg-python
torch==2.11.0+cpu
torchaudio==2.11.0+cpu